
<h1> All users </h1>

<div class="row">
  <div class="span12 offset0">
    
    <%= link_to "Send all ", excels_sent_all_path, class: "btn btn-large btn-primary", style: "display: none;"%>
    <table class="table table-bordered" id="examination-list">
      <thead>
        <tr>
          <th></th>
          <th>uid</th>
          <th>display_name</th>
          <th>email</th>
          <th>attachment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% (0..@names.count-1).each do |i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= @users.all.find_by(display_name: @names[i]).uid %></td>
            <td><%= @names[i] %></td>
            <td><%= @users.all.find_by(display_name: @names[i]).email %></td> 
            <td><a href="javascript: void(0)" onclick="$.fileDownload('/excels/download?uid=<%=@users.all.find_by(display_name: @names[i]).uid%>')" %>
            <%= "#{@users.all.find_by(display_name: @names[i]).uid}" %></a></td>
            <% if SentUser.find_by(uid: @users.all.find_by(display_name: @names[i]).uid).sent %>
              <td><h4> Sent </h4> </td>
            <% else %>
              <td><%= link_to "Send ", 
                excels_sent_email_path(uid: @users.all.find_by(display_name: @names[i]).uid), class: "btn btn-large btn-primary"%></td>
            <% end %>
          </tr>
        <% end %>
        <% if !@users_not_in_file.blank? %>
            <% (0..@users_not_in_file.count-1).each do |i| %>
              <tr>
                <td><%= @names.count+i+1 %></td>
                <td></td>
                <td></td>
                <td><%= @users_not_in_file[i] %></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>